<div class="card mt-3">
  <div class="card-header d-flex justify-content-between align-items-center p-3"
    style="border-top: 4px solid #fb8500">
  </div>
  <div class="card-body" style="position: relative">
<div class="heading"><h3>Your entries:</h3></div>
<dx-data-grid

  [dataSource]="dataSource"
  [showBorders]="true"
  [paging]="{ pageSize: 10 }"
  [pager]="{ showPageSizeSelector: true, allowedPageSizes: [5, 10] }"
  [rowAlternationEnabled]="true"
  [wordWrapEnabled]="true"
  [editing]="{
    mode: 'inline',
    allowAdding: true,
    allowUpdating: true,
    allowDeleting: true,
     useIcons: true
  }"
  (onRowInserted)="onRowInserted($event)"
  (onRowUpdated)="onRowUpdated($event)"
  (onRowRemoved)="onRowRemoved($event)"
  [filterRow]="{ visible: true, applyFilter: 'auto' }"
  [allowColumnResizing]="true"
>
<dxi-column dataField="Hours" dataType="number" alignment="left" [width]="'15%'">
  <dxi-validation-rule type="range" [min]="1" [max]="8" message="You can add from 1 to 8 hours in a single entry."></dxi-validation-rule>
</dxi-column>
<dxi-column dataField="Date" dataType="date"  format="dd.MM.yyyy" alignment="left" [width]="'15%'">
  <dxi-validation-rule type="range" [max]="today" message="You can not add entries for future dates."></dxi-validation-rule>
  <dxi-validation-rule type="custom" [validationCallback]="validateDate" message="Invalid date format."></dxi-validation-rule>
</dxi-column>
<dxi-column dataField="Description" dataType="string" alignment="left">
  <dxi-validation-rule type="stringLength" [min]="1" [max]="100" message="Description must be between 1 and 100 characters."></dxi-validation-rule>
</dxi-column>
</dx-data-grid>
  </div></div>